<%- include('includes/head.ejs') %>
  <title>Page Not Found</title>
  </head>
  <%- include('includes/navigation.ejs') %>

    <body>
      <h1>Page not Found! :(</h1>
    </body>

    </html>