<%- include('includes/head.ejs') %>
  <title>Page Not Found</title>
  </head>
  <%- include('includes/navigation.ejs') %>

    <body>
      <h1>Hello</h1>
      <form action="/users" method="POST">
        <label for="username">Enter Name:</label>
        <input type="text" name="username" id="username">
        <button type="submit">Save</button>
      </form>
    </body>

    </html>